{
  "extends": "airbnb",
  "plugins": ["compat"],
  "rules": {
    "semi": [1, "always"],
    "no-unexpected-multiline": 2,
    "compat/compat": 2,
    "no-underscore-dangle": [0, "allow"],
    "react/no-children-prop": [0, "allow"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
